/*
.container.testimonials__container{
    width: 60%;
    height: 30rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 10rem;
}

.container.testimonials__container h5{
    margin-top: 10rem;
}

.client__avatar{
    overflow: hidden;

}

.testimonial{
    margin-top: 1rem;
}
*/

/* .container {
    padding-top: 4rem;
} */

.container.testimonials__container {
    width: 60%;
    height: 50%;
    padding-bottom: 8rem;
}

.client__avatar {
    width: 8rem;
    height: 8rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-variant);

}

.testimonial {
    background: transparent;
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
}

.client__review {
    color: var(--color-light);
    font-weight: 100;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    background: var(--color-primary);
}

/* ============= MEDIA QUERIES (MEDIUM DEVICES) =============== */

@media screen and (max-width: 1024px) {}


/* ============= MEDIA QUERIES (SMALL DEVICES) =============== */

@media screen and (max-width: 600px) {
    .container.testimonials__container {
        width: var(--container-width-sm);
    }

    .client__review {
        width: var(--container-width-sm);
    }

}